#mobile-nav-open-btn {
    font-size: 30px;
    color: white;
    position: absolute;
    right: 15px;
    top: 6px;
    cursor: pointer;
    z-index: 2;
    margin-top: 1px;
    display: none;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.white-nav-top #mobile-nav-open-btn,
.navbar2 #mobile-nav-open-btn {
    color: #6255a5;
}

.navbar2 #mobile-nav ul li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #6255a5;
}

.navbar2 #mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
    top: 10%;

}


.navbar2 #mobile-nav ul li:nth-last-child(1) {
    border-bottom: 0px;
}

.navbar2 #mobile-nav ul li img {
    height: 50px;
    width: 50px;
}

#mobile-nav {
    width: 100%;
    height: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: auto;
}

#mobile-nav-close-btn {
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    color: #6255a5;
    cursor: pointer;
    font-weight: 400;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
    float: none;
    display: block;
}

#mobile-nav-content .dropdown-menu {
    position: relative;
    float: none;


}


#mobile-nav-content .dropdown .dropdown-menu a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 100%;

    padding-right: 100%;
    color: #333333;

}

#mobile-nav-content .dropdown-menu a:hover {
    background-color: #6255a5;
    color: white;
    text-decoration: none;
    display: block;

}

#mobile-nav ul li {
    margin-bottom: 20px;
}

#mobile-nav a {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #6255a5;
    font-weight: 600;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav button {
    background-color: #6255a5;
    color: white;
    text-transform: uppercase;
    display: inline;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #333333;
    background: none;
}

#mobile-nav li button:hover {
    color: #6255a5;
    border: 1px solid #6255a5;
    background-color: white;
}

.white-nav-top #mobile-nav ul.nav > li > a.active {
    color: #f4c613;
    font-weight: 500;
}

@media(min-width: 1201px) {
    header .navbar2 .container-fluid {
        width: 300px;
    }
}

/*Large Devices*/


@media(min-width: 1200px)and (max-width: 1299px) {
    header .navbar2 .container-fluid {
        width: 300px;
    }
}

/*Medium Devices*/
@media(min-width: 992px) and (max-width: 1199px) {

    .navbar #header-link li a {
        font-size: 15px;
    }

    .navbar #header-logo img {
        width: 240px;
    }

    .navbar #header-link li {
        padding-right: 16px;
    }

    .navbar #header-link li button {

        line-height: 21px;
        font-size: 15px;

        padding-right: 13px;
        padding-left: 13px;
    }

    header .navbar2 .container-fluid {
        width: 300px;
    }

    #search-book-page .card-title {
        height: 80px;
    }

    #notes-details-page .responsive-wrapper-padding-bottom-90pct {
        padding-bottom: 168%;
    }

    #notes-details-page #note-details h5 {

        font-size: 32px;

        line-height: 36px;

    }

    #notes-details-page #note-details h6 {

        font-size: 16px;
        line-height: 24px;

    }

    #notes-details-page #note-details p {
        font-size: 14px;
        line-height: 22px;

    }

    #notes-details-page #note-details button.btn {

        font-size: 16px;

        line-height: 20px;
        width: 202px;

    }

    #notes-details-page #note-details .notes-right p {

        font-size: 16px;

        line-height: 34px;
    }

    #notes-details-page #note-details .notes-right span {

        font-size: 16px;

        line-height: 34px;

    }

    #notes-details-page #note-details .notes-right span label.rate {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    #notes-details-page #note-details .notes-right p:nth-last-child(1) {
        font-size: 10px;
    }

    #notes-details-page .rate:not(:checked) > label {

        font-size: 20px;
    }

    #rejected-notes-page .form-control,
    #published-notes-page .form-control,
    #notes-under-review .form-control,
    #downloaded-notes-page .form-inline .form-control {
        width: 200px;
        margin-left: 0px;
    }

    #member-details-page #mem-details .labels-content p,
    #member-details-page #mem-details .labels p {

        font-size: 16px;

        line-height: 34px;

    }


}

/*Small Devices*/
@media(min-width: 768px) and (max-width: 991px) {
    .navbar #header-link li a {
        font-size: 12px;
    }

    .navbar #header-logo img {
        width: 180px;
    }

    header .navbar2 .container-fluid {
        width: 200px;
        margin: 0px;
    }

    .navbar #header-link li button {
        font-size: 12px;
        padding: 6px 10px;
    }

    .navbar #header-link li {
        padding-right: 10px;
    }

    .navbar #header-link li:nth-last-child(1) {
        padding-right: 0px;
    }

    /*Home Page*/
    #home-banner-content h1 {
        font-size: 40px;
        line-height: 44px;
    }

    #home-banner-content p {
        font-size: 16px;
        line-height: 20px;
    }

    #home-about-us h1 {

        font-size: 32px;
        line-height: 36px;

    }

    #home-about-us p {

        font-size: 14px;

        line-height: 18px;

    }

    #home-customer-feedback img {

        width: 60px;
        height: 60px;

    }

    #home-customer-feedback h3 {

        font-size: 20px;

        line-height: 24px;

    }

    #home-customer-feedback h5 {
        font-size: 14px;
        line-height: 18px;

    }

    #home-customer-feedback p {
        font-size: 14px;

        line-height: 20px;
        padding-right: 10px;
    }

    /*Search Page*/
    #search-book-page a.book-title {

        font-size: 16px;

        line-height: 20px;
    }

    #search-book-page .card-title {
        height: 70px;
    }

    #search-book-page ul li {

        font-size: 12px;

        line-height: 16px;
        margin-bottom: 10px;
    }

    #search-book-page ul span.rate-span {
        font-size: 12px;

        line-height: 16px;
    }

    #search-book-page ul li.rate:not(:checked) > label {

        font-size: 20px;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }

    #signup .form_container h3 {

        font-size: 16px;
        line-height: 20px;

    }

    #signup h1 {

        font-size: 26px;
        line-height: 28px;

    }

    #signup p {

        font-size: 13px;

        line-height: 17px;

    }

    #notes-details-page .notes-right {
        margin-top: 50px;
    }

    #dashboard-page .dashboard-blocks {
        display: block;
    }

    #dashboard-page .dashboard-blocks .my-downloads,
    #dashboard-page .dashboard-blocks .my-rejected-notes,
    #dashboard-page .dashboard-blocks .buyer-requests {

        margin-top: 20px;
    }

    #dashboard-page .dashboard-blocks .my-rejected-notes {
        margin-left: 65px;
        margin-right: 65px;
    }

    #dashboard-page .dashboard-blocks .my-downloads,
    #dashboard-page .dashboard-blocks .buyer-requests {
        margin-left: 0px;
        margin-right: 0px;
    }

    #dashboard-admin .form-control {
        width: 100px;
    }

    #dashboard-admin .has-search .form-control-feedback {


        -webkit-transform: translateY(8px);
        transform: translateY(8px);

    }

    #span-report-page .form-control,
    #my-sold-notes-page .form-control,
    #my-rejected-notes-page .form-control,
    #my-downloads-page .form-control,
    #members-page .form-control,
    #buyer-requests-page .form-control,
    #manage-administrator-page .form-control,
    #manage-category-page .form-control,
    #manage-country-page .form-control,
    #manage-type-page .form-control {
        width: 200px;
    }

    #rejected-notes-page .form-control,
    #published-notes-page .form-control,
    #notes-under-review .form-control,
    #downloaded-notes-page .form-inline .form-control {
        width: 200px;
        margin-left: 0px;
    }

    #member-details-page #mem-details .labels-content p,
    #member-details-page #mem-details .labels p {

        font-size: 14px;

        line-height: 32px;

    }

    #member-details-page #mem-details .right-side .labels {
        padding-left: 197px;
    }

    #member-details-page #mem-details .right-side .labels-content {
        padding-left: 60px;
    }

    #member-details-page .vertical {
        border-left: 0px;
        border-top: 1px solid #d1d1d1;


    }

    #member-details-page #mem-details .right-side .labels-content p:nth-child(1),
    #member-details-page #mem-details .right-side .labels p:nth-child(1) {
        margin-top: 10px;
    }
}

@media(max-width: 767px) {
    #mobile-nav-open-btn {
        display: block;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    header .navbar2 .container-fluid {
        width: 230px;
        margin: 10px;
    }

    /*Home Page*/
    #home-banner-content h1 {
        font-size: 35px;
        line-height: 39px;
    }

    #home-banner-content p {
        font-size: 14px;
        line-height: 18px;
    }

    #home-banner-content button {
        font-size: 16px;
        padding: 10px 21px;
    }

    #home-about-us h1 {

        text-align: center;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    #home-about-us p {

        font-size: 14px;

        line-height: 18px;
        margin-bottom: 15px;

    }

    #home-how-it-works button {
        font-family: "Open Sans", sans-serif;
        border-radius: 3px;
        font-weight: 600;
        font-size: 16px;
        color: white;
        background-color: #6255a5;
        padding: 11px 16px;
        margin-bottom: 50px;
    }

    #home-customer-feedback img {

        width: 60px;
        height: 60px;

    }

    #home-customer-feedback h3 {

        font-size: 20px;

        line-height: 24px;

    }

    #home-customer-feedback h5 {
        font-size: 14px;
        line-height: 18px;

    }

    #home-customer-feedback p {
        font-size: 14px;

        line-height: 20px;
        padding-right: 10px;
    }

    .footer p {
        font-size: 12px;
    }

    #signup .form_container h3 {

        font-size: 16px;
        line-height: 20px;

    }

    #signup h1 {

        font-size: 26px;
        line-height: 28px;

    }

    #signup p {

        font-size: 13px;

        line-height: 17px;

    }

    #notes-details-page #note-details h5 {
        margin-top: 30px;
        font-size: 30px;

        line-height: 34px;

    }

    #notes-details-page .notes-right {
        margin-top: 50px;
    }

    #dashboard-page .dashboard-blocks {
        display: block;
    }

    #dashboard-page .dashboard-blocks .my-downloads,
    #dashboard-page .dashboard-blocks .my-rejected-notes,
    #dashboard-page .dashboard-blocks .buyer-requests {

        margin-top: 20px;
    }

    #dashboard-page .dashboard-blocks .my-rejected-notes {
        margin-right: 0px;
        margin-left: 0px;
    }

    #dashboard-page .dashboard-blocks .my-downloads,
    #dashboard-page .dashboard-blocks .buyer-requests {
        margin-left: 0px;
        margin-right: 0px;
    }

    #dashboard-page .dashboard-blocks .money-earned {

        margin-right: 0px;

    }

    #dashboard-page .has-search .form-control,
    #dashboard1-page .has-search .form-control {
        width: 200px;

    }

    #dashboard-page #in-progress-notes button.btn.btn-outline-secondary,
    #dashboard-page #published-notes button.btn.btn-outline-secondary {
        width: 100px;
    }

    #dashboard-page .sb,
    #dashboard1-page .sb {
        float: left;
        margin-top: 0px;
    }

    #dashboard-admin #dashboard .dashboard-blocks {
        display: block;
    }

    #dashboard-admin #dashboard .dashboard-blocks div {
        margin: 20px 0px;
        width: 100%;
    }

    #dashboard-admin #dashboard .dashboard-blocks .notes-downloads {
        margin: 20px 0px;
    }

    #dashboard-admin .sb {
        float: left;
    }

    #dashboard-admin .form-control {
        width: 90px;
    }

    #dashboard-admin #published-notes button.btn.btn-outline-secondary {



        width: 90px;
    }

    #downloaded-notes-page .select-3 div.form-group2 {
        margin-left: 0px;
        margin-right: 0px;
    }

    #span-report-page .form-control,
    #my-sold-notes-page .form-control,
    #my-rejected-notes-page .form-control,
    #my-downloads-page .form-control,
    #members-page .form-control,
    #buyer-requests-page .form-control,
    #manage-administrator-page .form-control,
    #manage-category-page .form-control,
    #manage-country-page .form-control,
    #manage-type-page .form-control,
    #notes-under-review .form-control,
    #rejected-notes-page .form-control,
    #published-notes-page .form-control,
    #notes-under-review .form-control,
    #downloaded-notes-page .form-inline .form-control {
        width: 200px;
        margin-left: 0px;
    }

    #span-report-page form,
    #my-sold-notes-page form,
    #my-rejected-notes-page form,
    #my-downloads-page form,
    #members-page form,
    #buyer-requests-page form,
    #manage-administrator-page form,
    #manage-category-page form,
    #manage-country-page form,
    #manage-type-page form,
    #notes-under-review form,
    #rejected-notes-page form,
    #published-notes-page form,
    #notes-under-review form,
    #downloaded-notes-page .form-inline {
        float: left;
        margin-bottom: 20px;
    }

    #span-report-page h3,
    #my-sold-notes-page h3,
    #my-rejected-notes-page h3,
    #my-downloads-page h3,
    #members-page h3,
    #buyer-requests-page h3 {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #downloaded-notes-page .select-3 {
        display: block;
    }

    #downloaded-notes-page .select-3 div select#seller {
        margin-left: 0px;

    }

    #downloaded-notes-page .select-3 div select#buyer {

        margin-left: 0px;
    }

    #member-details-page .vertical {
        border-left: 0px;
        border-top: 1px solid #d1d1d1;


    }

    #member-details-page #mem-details .right-side .labels-content p:nth-child(1),
    #member-details-page #mem-details .right-side .labels p:nth-child(1) {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    header .navbar2 .container-fluid {
        width: 230px;
        margin: 0px;
    }

    /*Home Page*/
    #home-banner-content h1 {
        font-size: 30px;
        line-height: 34px;
    }

    #home-banner-content p {
        font-size: 14px;
        line-height: 18px;
    }

    #home-banner-content button {
        font-size: 14px;
        padding: 10px 18px;
    }

    /*Search Page*/
    #search-book-page #search-banner h1 {
        font-size: 45px;
    }

    #search-book-page .card-title {
        height: 70px;
    }

    #signup #signup-img {
        margin-top: 10px;
        padding-top: 0px;
    }

    #notes-details-page #notes-preview-review .notes-review img {
        height: 40px;
        width: 40px;
        float: right;
    }

    #dashboard-page .dashboard-blocks {
        display: block;
    }

    #dashboard-page #dashboard button.btn {

        font-size: 14px;

        line-height: 18px;
        height: 50px;
        width: 100px;
    }

    #dashboard-page .dashboard-blocks .my-downloads,
    #dashboard-page .dashboard-blocks .my-rejected-notes,
    #dashboard-page .dashboard-blocks .buyer-requests {

        margin-top: 20px;
    }

    #dashboard-page .dashboard-blocks .my-rejected-notes {
        margin-right: 0px;
        margin-left: 0px;
    }

    #dashboard-page .dashboard-blocks .my-downloads,
    #dashboard-page .dashboard-blocks .buyer-requests {
        margin-left: 0px;
        margin-right: 0px;
    }

    #dashboard-page .dashboard-blocks .money-earned {

        margin-right: 0px;

    }

    #dashboard-page .has-search .form-control {
        width: 200px;

    }

    #dashboard-page #in-progress-notes button.btn.btn-outline-secondary,
    #dashboard-page #published-notes button.btn.btn-outline-secondary {
        width: 100px;
    }

    #dashboard-page .sb {
        float: left;
        margin-top: 0px;
    }

    #dashboard1-page #dashboard .dashboard-blocks p {
        font-size: 15px;
    }

    #dashboard1-page #dashboard div {
        font-size: 18px;
    }

    #rejected-notes-page .form-control,
    #published-notes-page .form-control,
    #notes-under-review .form-control,
    #downloaded-notes-page .form-inline .form-control {
        width: 200px;
        margin-left: 0px;
    }

    #rejected-notes-page form,
    #published-notes-page form,
    #notes-under-review form,
    #downloaded-notes-page .form-inline {
        float: left;
    }

    #member-details-page #mem-details .labels-content p,
    #member-details-page #mem-details .labels p {

        font-size: 14px;

        line-height: 32px;

    }

    footer.footer-admin p {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .navbar #header-logo img {
        width: 200px;
    }

    header .navbar2 .container-fluid {
        width: 230px;
        margin: 0px;
    }

    /*Search Page*/
    #search-book-page #search-banner h1 {
        font-size: 40px;
    }

    #notes-details-page #note-details .notes-right p,
    #notes-details-page #note-details .notes-right span {

        font-size: 14px;

        line-height: 32px;

    }

    #login-page #login .fp {
        font-size: 14px;
        line-height: 18px;
    }

    #login-page #login .form_container {

        padding: 50px 30px;

    }

    #change-password .form_container {

        padding: 50px 40px;

    }

    #change-password form .form-control {

        font-size: 14px;

        line-height: 18px;

    }

    #login-page #login a:nth-last-child(1),
    #login-page #login p:nth-last-child(1) {
        font-size: 14px;
    }

    #signup .form_container h3 {

        font-size: 12px;
        line-height: 16px;

    }

    #signup #signup-img {
        margin-top: 10px;
        padding-top: 0px;
    }

    #signup .form_container img {
        width: 20px;
        height: 20px;
    }

    #signup h1 {

        font-size: 26px;
        line-height: 28px;

    }

    #signup p {

        font-size: 13px;

        line-height: 17px;

    }

    #signup form .form-control {

        font-size: 12px;

        line-height: 16px;

    }

    #dashboard-page .dashboard-blocks,
    #dashboard-page .block {
        display: block;
    }

    #dashboard-page .dashboard-blocks .my-downloads,
    #dashboard-page .dashboard-blocks .my-rejected-notes,
    #dashboard-page .dashboard-blocks .buyer-requests {

        margin-top: 20px;
    }

    #dashboard-page .dashboard-blocks .my-rejected-notes {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }

    #dashboard-page .dashboard-blocks .my-downloads,
    #dashboard-page .dashboard-blocks .buyer-requests {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    #dashboard-page .dashboard-blocks .earnings,
    #dashboard-page .dashboard-blocks .num-notes-sold,
    #dashboard-page .dashboard-blocks .money-earned {
        border: 1px solid #d1d1d1;
        margin-right: 0px;
        width: 100%;
        margin-top: 20px;

    }

    #dashboard-page h1 {
        font-size: 30px;
    }

    #dashboard-page .has-search .form-control {
        width: 180px;

    }

    #dashboard-page #dashboard button.btn {

        font-size: 14px;

        line-height: 18px;

        height: 50px;
        width: 100px;
    }

    #dashboard1-page .dashboard-blocks {
        display: block;
    }

    #dashboard1-page .dashboard-blocks div {
        width: 100%;
        border: 1px solid #d1d1d1;
    }

    #dashboard1-page #dashboard .dashboard-blocks p {
        font-size: 18px;
    }

    #dashboard1-page .has-search .form-control {
        width: 180px;

    }

    #span-report-page .form-control,
    #my-sold-notes-page .form-control,
    #my-rejected-notes-page .form-control,
    #my-downloads-page .form-control,
    #members-page .form-control,
    #buyer-requests-page .form-control,
    #manage-administrator-page .form-control,
    #manage-category-page .form-control,
    #manage-country-page .form-control,
    #manage-type-page .form-control {
        width: 150px;
        margin-left: 0px;
    }

    #rejected-notes-page .form-control,
    #published-notes-page .form-control,
    #notes-under-review .form-control,
    #downloaded-notes-page .form-inline .form-control {
        width: 150px;
        margin-left: 0px;
    }

    #rejected-notes-page form,
    #published-notes-page form,
    #notes-under-review form,
    #downloaded-notes-page .form-inline {
        float: left;
    }

    #member-details-page #mem-details .labels-content p,
    #member-details-page #mem-details .labels p {

        font-size: 14px;

        line-height: 32px;

    }

}