
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/custom/FAQ-page.css")

<!-- Banner Starts-->
<section id="faq-banner">
    <div class="content-box-md">
        <div class="container" id="banner-content">
            <h1 class="text-center">Frequently asked questions</h1>
        </div>

    </div>
</section>
<!-- Banner Ends-->


<section id="faq">
    <div class="content-box-md">
        <div class="container">
            <h3>General Questions</h3>
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1" class="collapsed">
                        What is MarketPlace-Notes?
                    </a>
                </div>

                <div class="collapse" id="collapse1">
                    <div class="card-body">
                        Notes Marketplace is an online marketplace for university students to buy and sell their course notes.
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2" class="collapsed">
                        Where did Notes Marketplace start?
                    </a>
                </div>

                <div class="collapse" id="collapse2">
                    <div class="card-body">
                        What started out as four friends chucking around an idea in Ahmedabad ended up turning into an earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.
                    </div>
                </div>

            </div>


            <h3 class="gq">Uploaders</h3>
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3" class="collapsed">
                        Why should I upload now?
                    </a>
                </div>


                <div class="collapse" id="collapse3">
                    <div class="card-body">
                        To maximize sales. We can't sell your notes if they are rotting on your hard drive. Your notes are available for purchase the instant they are approved, which means that you could be missing potential sales as we speak. Despite exam and holiday breaks, our users purchase notes all year round, so the best time to upload notes is always today.

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4" class="collapsed">
                        What can't I sell?
                    </a>
                </div>

                <div class="collapse" id="collapse4">
                    <div class="card-body">
                        We won't approve materials that have been created by your university or another third party. We also do not accept assignments, essays, practical’s or take-home exams. We love notes though.
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5" class="collapsed">
                        How long does it take to upload?
                    </a>

                </div>
                <div class="collapse" id="collapse5">
                    <div class="card-body">
                        Uploading notes is quick and easy. It can take as little as 90 seconds per set of notes. Put it this way, in the time it took to read these FAQs, you could’ve uploaded several sets of notes.
                    </div>
                </div>

            </div>

            <h3 class="gq">Downloaders</h3>
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6" class="collapsed">
                        How do I buy notes?
                    </a>

                </div>
                <div class="collapse" id="collapse6">
                    <div class="card-body">
                        Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page. You can then filter results by university, category, course information etc. To purchase, go to detail page of note and click on download button. If notes are free to download – it will download over the browser and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for actual download.
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapse7" class="collapsed">
                        Why should I buy notes?
                    </a>

                </div>
                <div class="collapse" id="collapse7">
                    <div class="card-body">
                        The notes on our site are incredibly useful as an educational tool when used correctly. They effectively demonstrate the techniques that top students employ in order to receive top marks. They also summaries the course in a concise format and show what that student believed were the most important elements of the course. Learn from the best.
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse8" role="button" aria-expanded="false" aria-controls="collapse8" class="collapsed">
                        Will downloading notes guarantee I improve my grades?
                    </a>

                </div>
                <div class="collapse" id="collapse8">
                    <div class="card-body">
                        How long is a piece of string? However, 90% of students who purchased notes through our site said that doing so improved their grades.
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

