@{
    ViewBag.Title = "Home Page";
}

<!-- Banner Starts-->
<section id="home-banner">
    <div class="content-box-lg">
        <div class="container" id="home-banner-content">
            <h1>Download Free/Paid Notes<br>or Sale your Book</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ducimus ipsa<br> est harum itaque perspiciatis cumque labore omnis consequatur, dicta optio qui.</p>
            <button type="button" class="btn btn-outline-light btn-lg" id="home-learn-more-btn" onclick="window.location='@Url.Action("FAQ", "Home")'">LEARN MORE</button>
        </div>

    </div>
</section>
<!-- Banner Ends-->
<!-- About Us Starts-->
<section id="home-about-us">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>About<br>NotesMarketPlace</h1>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aperiam aut, omnis, est libero voluptas? Fuga harum, quia architecto, aperiam voluptas obcaecati, placeat qui optio reprehenderit id eos adipisci. Eveniet. Vel aperiam aut, omnis, est libero voluptas? Fuga harum, quia architecto, aperiam voluptas obcaecati, placeat qui optio reprehenderit id eos adipisci. Eveniet.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim numquam beatae eos veniam nulla soluta doloribus magni sint? Rem a sed animi repellat ducimus fuga eveniet consequuntur, earum accusamus in.</p>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- About Us ends-->
<!-- How It works begins-->
<section id="home-how-it-works">
    <div class="content-box-md">
        <div class="container">
            <h1 class="text-center">How It Works</h1>
            <div class="row">
                <div class="col-md-6 text-center">
                    <i>
                        <img src="~/images/download.png" alt="Download">
                    </i>
                    <h3>Download Free/Paid Notes</h3>
                    <p>Get Material for your<br>Course etc.</p>
                    <button type="button" class="btn btn-lg" id="home-download-btn" onclick="window.location='@Url.Action("SearchNotes", "Home")'">DOWNLOAD</button>
                </div>
                <div class="col-md-6 text-center">
                    <i>
                        <img src="~/images/download.png" alt="Download">
                    </i>
                    <h3>Seller</h3>
                    <p>Upload and Download Course<br>and Materials etc.</p>
                    <button type="button" class="btn btn-lg" id="home-sellbook-btn" onclick="window.location='@Url.Action("Login", "Home")'">SELL BOOK</button>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- How It works ends-->
<!-- Customer Feedback Begins-->
<section id="home-customer-feedback">
    <div class="content-box-md">
        <div class="container">
            <h1 class="text-center">What Our Customers are Saying</h1>
            <div class="row">
                <div class="col-md-6 feedback">
                    <div class="custom-feed">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-3">
                                <img src="~/images/customer-1.png" class="rounded-circle">
                            </div>
                            <div class="col-md-9 col-sm-9 col-9">
                                <h3>Walter Meller</h3>
                                <h5>Founder &amp; CEO, Matrix Group</h5>
                            </div>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt tempore deserunt animi dicta iste rerum, modi nemo? Voluptatibus odit aliquid, ullam, consectetur assumenda sit doloribus nobis quibusdam molestias autem eligendi!"</p>
                    </div>
                </div>

                <div class="col-md-6 feedback">

                    <div class="custom-feed">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-3">
                                <img src="~/images/customer-2.png" class="rounded-circle">
                            </div>
                            <div class="col-md-9 col-sm-9 col-9">
                                <h3>Walter Meller</h3>
                                <h5>Founder &amp; CEO, Matrix Group</h5>
                            </div>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt tempore deserunt animi dicta iste rerum, modi nemo? Voluptatibus odit aliquid, ullam, consectetur assumenda sit doloribus nobis quibusdam molestias autem eligendi!"</p>
                    </div>
                </div>
                <div class="col-md-6 feedback">
                    <div class="custom-feed">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-3">
                                <img src="~/images/customer-3.png" class="rounded-circle">
                            </div>
                            <div class="col-md-9 col-sm-9 col-9">
                                <h3>Walter Meller</h3>
                                <h5>Founder &amp; CEO, Matrix Group</h5>
                            </div>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt tempore deserunt animi dicta iste rerum, modi nemo? Voluptatibus odit aliquid, ullam, consectetur assumenda sit doloribus nobis quibusdam molestias autem eligendi!"</p>
                    </div>
                </div>
                <div class="col-md-6 feedback">

                    <div class="custom-feed">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-3">
                                <img src="~/images/customer-4.png" class="rounded-circle">
                            </div>
                            <div class="col-md-9 col-sm-9 col-9">
                                <h3>Walter Meller</h3>
                                <h5>Founder &amp; CEO, Matrix Group</h5>
                            </div>
                        </div>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt tempore deserunt animi dicta iste rerum, modi nemo? Voluptatibus odit aliquid, ullam, consectetur assumenda sit doloribus nobis quibusdam molestias autem eligendi!"</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Customer Feedback Ends-->
