@using NotesMarketPlace.Models
@model NotesMarketPlace.Models.UserProfile

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
  
}


<section id="dashboard">
    <div class="content-box-md">
        <div class="container">
            <h1>Dashboard<span><button class="btn" role="button">ADD NOTE</button></span></h1>
            <div class="dashboard-blocks text-center">
                <div class="block">
                    <div class="earnings detail">
                        <img src="../images/my-earning.png">
                        <p>My Earning</p>
                    </div>

                    <div class="num-notes-sold detail">
                        <h5><a href="#"></a></h5>
                        <p>Number of Notes Sold</p>
                    </div>
                    <div class="money-earned detail">
                        <h5><a href="#">$10,00,000</a></h5>
                        <p>Money Earned</p>
                    </div>

                </div>
                <div class="block">
                    <div class="my-downloads">
                        <h5><a href="#">38</a></h5>
                        <p>My Downloads</p>
                    </div>
                    <div class="my-rejected-notes">
                        <h5><a href="#">12</a></h5>
                        <p>My Rejected Notes</p>
                    </div>
                    <div class="buyer-requests">
                        <h5><a href="#">102</a></h5>
                        <p>Buyer Requests</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="in-progress-notes">
    <div class="content-box-md">
        <div class="container">
           
            <div class="row">
                <div class="col-md-5 col-sm-12 col-12">
                    <h3>In Progress Notes</h3>
                </div>
                <div class="col-md-7 col-sm-12 col-12">
                    <form class="sb">

                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input class="form-control" type="text" placeholder="Search notes here.." aria-label="Search">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-secondary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ADDED DATE</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>

                    <td>09-10-2020</td>
                    <td><a href="#">Data Science</a></td>
                    <td>Science</td>
                    <td>Draft</td>
                    <td><a href="#"><img src="../images/Dashboard/edit.png"></a><a href="#"><img src="../images/delete.png"></a></td>
                    <tr>

                        <td>10-10-2020</td>
                        <td><a href="#">Accounts</a></td>
                        <td>Commerce</td>
                        <td>In Review</td>
                        <td><a href="#"><img src="../images/Dashboard/eye.png"></a></td>
                    </tr>
                    <tr>

                        <td>11-10-2020</td>
                        <td><a href="#">Social Studies</a></td>
                        <td>Social</td>
                        <td>Submitted</td>
                        <td><a href="#"><img src="../images/Dashboard/eye.png"></a></td>
                    </tr>
                    <tr>

                        <td>12-10-2020</td>
                        <td><a href="#">AI</a></td>
                        <td>IT</td>
                        <td>Submitted</td>
                        <td><a href="#"><img src="../images/Dashboard/eye.png"></a></td>
                    </tr>
                    <tr>

                        <td>03-10-2020</td>
                        <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                        <td>Lorem</td>
                        <td>Draft</td>
                        <td><a href="#"><img src="../images/Dashboard/edit.png"></a><a href="#"><img src="../images/delete.png"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <section id="pagination1">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link btn-pagination" href="#1">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</section>


<section id="published-notes">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-12">
                    <h3>Published Notes</h3>
                </div>
                <div class="col-md-7 col-sm-12 col-12">
                    <form class="sb">

                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input class="form-control" type="text" placeholder="Search notes here.." aria-label="Search">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-secondary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ADDED DATE</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">SELL TYPE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>

                    <td>09-10-2020</td>
                    <td><a href="#">Data Science</a></td>
                    <td>Science</td>
                    <td>Paid</td>
                    <td>$575</td>
                    <td><a href="#"><img src="../images/Dashboard/eye.png"></a></td>
                    <tr>

                        <td>10-10-2020</td>
                        <td><a href="#">Accounts</a></td>
                        <td>Commerce</td>
                        <td>Paid</td>
                        <td>$575</td>
                        <td><a href="#"><img src="../images/Dashboard/eye.png"></a></td>
                    </tr>
                    <tr>

                        <td>11-10-2020</td>
                        <td><a href="#">Social Studies</a></td>
                        <td>Social</td>
                        <td>Free</td>
                        <td>$0</td>
                        <td><a href="#"><img src="../images/Dashboard/eye.png"></a></td>
                    </tr>
                    <tr>

                        <td>12-10-2020</td>
                        <td><a href="#">AI</a></td>
                        <td>IT</td>
                        <td>Free</td>
                        <td>$0</td>
                        <td><a href="#"><img src="../images/Dashboard/eye.png"></a></td>
                    </tr>
                    <tr>

                        <td>03-10-2020</td>
                        <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                        <td>Lorem</td>
                        <td>Free</td>
                        <td>$3542</td>
                        <td><a href="#"><img src="../images/Dashboard/eye.png"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

<section id="pagination2">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                </a>
            </li>
            <li class="page-item"><a class="page-link btn-pagination" href="#1">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </a>
            </li>
        </ul>
    </nav>
</section>


