html,
body {
    height: 100%;
}

#add-admin h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 0;
    padding-bottom: 40px;
    margin-top: 60px;
}

#add-admin label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
}


#add-admin form .form-control {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 30px;
}

form button.btn {
    background-color: #6255a5;
    color: white;
    border-radius: 3px;
    font-style: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 30px;


}

form button.btn:hover {
    background-color: white;
    color: #6255a5;
    font-weight: 700;
    border: 2px solid #6255a5;

}

img.rounded-circle {
    height: 30px;
    width: 30px;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.image-upload > input {
    display: none;
}

.image-upload img {
    padding-top: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -ms-flex-line-pack: center;
    align-content: center;
}

.form-control1 {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    height: 100px;
    margin-bottom: 30px;

}

.form-control1 label {
    height: 100px;
}

select#countryCode {
    width: 120px;
    margin-right: 10px;
}


.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header .dropdown-toggle::after {
    content: none;
}

.above-footer {
    overflow: auto;
    padding-bottom: 30px;
}

footer {
    position: relative;
    margin-top: -50px;
    /* negative value of footer height */
    height: 50px;
    clear: both;
    padding-top: 10px;
    border-top: 1px solid #333333;

}

.wrap {
    min-height: 100%;
}


footer span {
    float: right;
}