
         img.rounded-circle{
            height: 30px;
            width: 30px;
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
             
             
        }
        .table {
  border: 1px solid #d1d1d1;
            border-radius: 3px;
            width: 100%;
}
        
        .table th{
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #333333;
        }
        
        .table tr{
            height: 75px;
        }
        .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-left: 5px;       
    -webkit-transform: translateY(5px);       
    transform: translateY(5px);
}
       .has-search .form-control {
    padding-left: 2.375rem;
            border: 1px solid #d1d1d1;
            height: 50px;
            border-radius: 3px;
           width: 322px;
           height: 50px;
            
}
        .form-group{
            margin-bottom: 20px;
        }
        
        #dashboard .content-box-md{
            padding-bottom: 0px;
        }
        
        .page-link {
  border: none;
}
        
.page-link:hover,
.page-link:focus,
.btn-pagination {
  background-color: #6255a5;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-pagination {
  color: white !important;
}

ul.pagination > li > a:hover,
ul.pagination > li > a:focus {
  color: white;
}

ul.pagination > li > a {
  color: #333333;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0 3px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  width: 8px !important;
  font-size: 15px;
  height: 15px;
  color: #333333;
  margin-right: 20px;
}

.page-item:last-child .page-link {
  margin-right: 0 !important;
}

.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:focus,
.page-item:last-child .page-link:focus {
  background: none !important;
  color: #333333 !important;
}
   
        
        
        h1{
            font-family: "Open Sans", sans-serif;
            font-size: 34px;
            font-weight: 600;
            line-height: 38px;
            color: #6255a5;
            padding-bottom: 0px;
            margin-bottom: 30px;
            padding-top: 60px;
            margin-top: 0px;
        }
        
        
        
        h3{
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
            color: #6255a5;
            padding-bottom: 0px;
            margin-bottom: 20px;
            padding-top: 50px;
        }
        #in-progress-notes button.btn.btn-outline-secondary,
        #published-notes button.btn.btn-outline-secondary{
            color: white;
            width: 117px;
            height: 50px;
            background-color: #6255a5;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            margin-left: 10px;
        }
        
        
        .dashboard-blocks{
         
display: -webkit-box;
         
display: -ms-flexbox;
         
display: flex;
           
        }
        
       
        .dashboard-blocks .earnings{
            width: 235px;
              height: 151px;
            padding-top: 30px;   
            border: 1px solid #d1d1d1;
            
        }
        .dashboard-blocks .num-notes-sold{
              height: 151px;
            padding-top: 30px;
            border-left: 0px;
            border-right: 0px;
            border-top: 1px solid #d1d1d1;
                border-bottom: 1px solid #d1d1d1;
        }
        
        .dashboard-blocks .num-notes-sold,
        .dashboard-blocks .money-earned{
 height: 151px;
            padding-top: 30px;
            width: 289px;
        }
        
        
        .dashboard-blocks .money-earned{
          height: 151px;
            padding-top: 30px;
            border-left: 0px;
            border-top: 1px solid #d1d1d1;
                border-bottom: 1px solid #d1d1d1;
            border-right: 1px solid #d1d1d1;
           
            
        }
        .dashboard-blocks .earnings p{
             font-size: 25px;
            font-weight: 600;
            line-height: 29px;
            color: #6255a5;
        }
        .dashboard-blocks h5{
            font-family: "Open Sans", sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 34px;
            color: #6255a5;
           }
        .dashboard-blocks p{
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: #333333;
           }
        
        #dashboard button.btn{
            background-color: #6255a5;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: white;
            height: 50px;
            width: 150px;
        }
        
        #dashboard span{
            float: right;
        }
        
        .sb{
            margin-top: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            float: right;
        }
        
     #in-progress-notes button.btn.btn-outline-secondary:hover,
        #published-notes button.btn.btn-outline-secondary:hover{
            color: #6255a5;
           border: 2px solid #6255a5;
            background-color: white;
           
            
          
        }
        
        #in-progress-notes table img{
            margin-left: 5px;
        }
        