 
         img.rounded-circle{
            height: 30px;
            width: 30px;
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
             
             
        }
        .table {
  border: 1px solid #d1d1d1;
            border-radius: 3px;
          
}
        
        .table td{
            white-space: nowrap;
        }
        .table th{
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #333333;
           
        }
        
        
        .table tr{
            height: 75px;
           
        }
        
        
        .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
            
}
       .has-search .form-control {
    padding-left: 2.375rem;
            border: 1px solid #d1d1d1;
            height: 50px;
            border-radius: 3px;
           margin-left: 10px;
           width: 322px;
           height: 50px;
            
}
        
        .has-serch{
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }
        .page-link {
  border: none;
}
        
.page-link:hover,
.page-link:focus,
.btn-pagination {
  background-color: #6255a5;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-pagination {
  color: white !important;
}

ul.pagination > li > a:hover,
ul.pagination > li > a:focus {
  color: white;
}

ul.pagination > li > a {
  color: #333333;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0 3px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  width: 8px !important;
  font-size: 15px;
  height: 15px;
  color: #333333;
  margin-right: 20px;
}

.page-item:last-child .page-link {
  margin-right: 0 !important;
}

.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:focus,
.page-item:last-child .page-link:focus {
  background: none !important;
  color: #333333 !important;
}
   
        
        
        
        .dashboard-blocks{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
           
        }
        
        #dashboard .dashboard-blocks div{
            width: 460px;
            height: 151px;
            border: 1px solid #d1d1d1;
             font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #6255a5;
            padding-top: 30px;
        }
        #dashboard .dashboard-blocks .notes-downloads{
            margin-left: 20px;
            margin-right: 20px;
        }
        
        h1{
            font-family: "Open Sans", sans-serif;
            font-size: 34px;
            font-weight: 600;
            line-height: 38px;
            color: #6255a5;
            padding-bottom: 0px;
            margin-bottom: 30px;
            margin-top: 30px;
            padding-top: 50px;
        }
        
        p{
font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: #333333;
            padding-top: 0px;
            margin-top: 10px;
           }
        
        #published-notes button.btn.btn-outline-secondary{
           
          
            color: white;
            width: 150px;
            height: 50px;
            background-color: #6255a5;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            margin-left: 10px;
            margin-right: 10px;
        }
        #published-notes button.btn.btn-outline-secondary:hover {
            color: #6255a5;
           border: 2px solid #6255a5;
            background-color: white;
            
        }
        h3{
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
            color: #6255a5;
            padding-bottom: 0px;
            margin-bottom: 30px;
            margin-top: 40px;
        }
        
        p{
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
        
       
        
        .sb{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            float: right;
            margin-top: 20px;
        }
        
        .form-control{
            height: 50px;
        }
        
        select#month{
            width: 100px;
        }
        
        .dashboard-blocks a{
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #6255a5;
        }
        
        .table i.fa.fa-ellipsis-v{
            color: darkgray;
        }
        
        header .dropdown-toggle::after { 
            content: none; 
        } 
   
    
    