 
         img.rounded-circle{
            height: 30px;
            width: 30px;
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
             
             
        }
        .table {
  border: 1px solid #d1d1d1;
            border-radius: 3px;
}
        .table td{
            white-space: nowrap;
        }
        .table th{
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: #333333;
        }
        
        .table tr{
            height: 75px;
        }
        .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
            
}
       .has-search .form-control {
    padding-left: 2.375rem;
            border: 1px solid #d1d1d1;
            height: 50px;
            border-radius: 3px;
           margin-left: 10px;
           width: 322px;
           height: 50px;
            
}
        
        .has-serch{
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }
        .page-link {
  border: none;
}
        
.page-link:hover,
.page-link:focus,
.btn-pagination {
  background-color: #6255a5;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-pagination {
  color: white !important;
}

ul.pagination > li > a:hover,
ul.pagination > li > a:focus {
  color: white;
}

ul.pagination > li > a {
  color: #333333;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0 3px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  width: 8px !important;
  font-size: 15px;
  height: 15px;
  color: #333333;
  margin-right: 20px;
}

.page-item:last-child .page-link {
  margin-right: 0 !important;
}

.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:focus,
.page-item:last-child .page-link:focus {
  background: none !important;
  color: #333333 !important;
}
   
       
        
        h1{
            font-family: "Open Sans", sans-serif;
            font-size: 34px;
            font-weight: 600;
            line-height: 38px;
            color: #6255a5;
            padding-bottom: 0px;
            margin-bottom: 30px;
            margin-top: 80px;
        }
        
        
       #manage-administrator button.btn.btn-outline-secondary{
            color: white;
            width: 117px;
            height: 50px;
            background-color: #6255a5;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            margin-left: 10px;
          
        }
         #manage-administrator button.btn.btn-outline-secondary:hover {
            color: #6255a5;
           border: 2px solid #6255a5;
            background-color: white;
            
        }
        
        form{
            float: right;
        }
        
        i{
            color: #d1d1d1;
            margin-left: 5px;
            -webkit-transform: translateY(3px);
            transform: translateY(3px);
            
        }
        
        #manage-administrator button.btn.btn-outline-secondary.manage{
            float: left;
            width: 250px;
            margin-left: 0;
             margin-bottom: 30px;
        }
        #manage-administrator button.btn.btn-outline-secondary.manage:hover{color: #6255a5;
           border: 2px solid #6255a5;
            background-color: white;}
         
         header .dropdown-toggle::after { 
            content: none; 
        } 
        table img{
            margin-left: 5px;
           
        }
    
    