
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyAccount</title>
</head>
<body>
    <div> 
        <h1>Email verification successfull!. Click the link below to login into your account</h1>
        @Html.ActionLink("Login","Home")
    </div>
</body>
</html>
